# Copy this file to 'defaults' and set the defaults for your environment
# These are used as fallbacks for options omitted in the scripts using this LIB

# Kafka defaults
DEFAULT_BROKER='localhost:9092'
DEFAULT_TOPIC='send-sms'

# Request defaults
DEFAULT_CLIENT='test'
DEFAULT_DEADLINE='2100-01-01T00:00:00Z'
DEFAULT_SENDER='TEST SENDER'
DEFAULT_RECIPIENT='+255123456789'

# If sms-client cannot be found, specify full path here
#SMS_CLIENT=/path/to/sms-client/bin/sms-client
